---
import Layout from "../layouts/Layout.astro"
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Matias Gonta - Not Found" lang={lang}>
    <main>
        <section>
            <article class="w-full h-screen flex gap-3 justify-center items-center">
                <div class="size-28">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        stroke-width="1"
                        stroke="#fff"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path stroke="rgba(119,158,198,90)" d="M4 8v-2a2 2 0 0 1 2 -2h2" />
                        <path stroke="rgba(119,158,198,0.6)" d="M4 16v2a2 2 0 0 0 2 2h2" />
                        <path stroke="rgba(119,158,198,0.6)" d="M16 4h2a2 2 0 0 1 2 2v2" />
                        <path stroke="rgba(119,158,198,90)" d="M16 20h2a2 2 0 0 0 2 -2v-2" />
                        <path stroke="rgba(119,158,198,0.6)" d="M9 10h.01" />
                        <path stroke="rgba(119,158,198,90)" d="M15 10h.01" />
                        <path stroke="rgba(119,158,198,0.6)" d="M9.5 15.05a3.5 3.5 0 0 1 5 0" />
                    </svg>
                </div>
                <div class="text-white flex flex-col gap-2">
                    <div>
                        <h1 class="text-primary text-bold text-[25px]">Error</h1>
                        <p>{t('error.message')}</p>
                    </div>
                    <div>
                        <a href={`/${lang}`} class="transition-all duration-300 text-[14px] border border-white py-1 px-2 inline-flex gap-1 items-center rounded-xl active:scale-90 hover:text-primary hover:border-primary">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-arrow-narrow-left"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M5 12l14 0" />
                                <path d="M5 12l4 4" />
                                <path d="M5 12l4 -4" />
                            </svg>
                            {t('error.button')}
                        </a>
                    </div>
                </div>
            </article>
        </section>
    </main>
</Layout>