---
import Layout from "../layouts/Layout.astro";

const lang = Astro.url.searchParams.get("lang")!;

const langOptions = ["es", "en"];

if (!lang || !langOptions.includes(lang)) {
    return Astro.redirect("/");
}
---

<Layout title="Matias Gonta - Curriculum Vitae">
    <div class="absolute size-full">
        <object
            data=`/public/docs/CV-${lang}.pdf`
            type="application/pdf"
            width="100%"
            height="100%"
        ></object>
    </div>
</Layout>
