---
import Layout from '../layouts/Layout.astro';
import Header from '@components/Header.astro';
import SectionWrapper from '@components/SectionWrapper.astro';
// import SectionWrapper from '@components/SectionWrapper.tsx';
import HomeSection from '@components/HomeSection.astro';
import ProjectsSection from '@components/ProjectsSection.astro';
import { Sections } from '@models/sections.model.ts';
import ScrollNav from '@components/ScrollNav/ScrollNav';
---

<Layout title="Portfolio de Matias Gonta - Desarrollador y programador Web">
	<!-- ScrollNav -->
	<ScrollNav />
	<main class="mx-auto w-full text-white text-[16px] leading-normal">
		<Header />
		<SectionWrapper id={Sections.HOME}>
			<HomeSection />
		</SectionWrapper>
		<div class="my-[100px] h-[1px]"></div>
		<SectionWrapper id={Sections.PROJECTS}>
			<ProjectsSection />
		</SectionWrapper>
	</main>
</Layout>