---
import AboutIcon from '@icons/section/About.icon.astro';
import DocsButton from './DocsButton.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article class="px-7 lg:px-0">
    <div class="text-[25px] flex items-center">
        <div class="text-primary">
            <AboutIcon />
        </div>
        <h2 class="ml-3">
            {t('nav.about')}
        </h2>
    </div>
    <div>
    </div>
    <div class="my-5 flex flex-col gap-2.5">
        <p>{t('about.description')}</p>
        <DocsButton>{t('about.button')}</DocsButton>
    </div>
</article>