---
import AboutIcon from '@icons/section/About.icon.astro';
import DocsButton from './DocsButton.astro';
---

<article class="px-7 lg:px-0">
    <div class="text-[25px] flex items-center">
        <div class="text-primary">
            <AboutIcon />
        </div>
        <h2 class="ml-3">Sobre mí</h2>
    </div>
    <div>
    </div>
    <div class="my-5 flex flex-col gap-2.5">
        <p>Desarrollador Front-end con conocimientos de Back-end utilizando NodeJS y MongoDB. Autodidacta con curiosidad como base de superación e interés constante por aprender nuevas tecnologías. Mi objetivo es hacer crecer mi carrera profesional como desarrollador, aprovechando mi perseverancia, una cualidad que aplico en todos los aspectos de mi vida.</p>
        <DocsButton>Descargar CV</DocsButton>
    </div>
</article>