---
const { name, icon: Icon, customClass, href } = Astro.props;
---

<div>
    <a href={href} class="flex items-center rounded-full py-[5px] px-[15px] border border-white bg-gray-800" target="_blank">
        <div class={customClass}>
            <Icon />
        </div>
        <span class="ml-2 text-[12px] text-nowrap">{name}</span>
    </a>
</div>