---
import { Sections } from "@models/sections";
import LenguagePicker from "@components/LenguagePicker.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type HeaderLink = {
    name: string;
    href: Sections;
}

const headerLinks: HeaderLink[] = [
    {
        name: t('nav.home'),
        href: Sections.HOME,
    },
    {
        name: t('nav.projects'),
        href: Sections.PROJECTS,
    },
    {
        name: t('nav.about'),
        href: Sections.ABOUT,
    },
    {
        name: t('nav.contact'),
        href: Sections.CONTACT,
    }
];
---

<header class="w-full h-[75px]">
    <nav class="size-full px-7 max-w-[500px] mx-auto flex flex-col-reverse gap-3.5 items-center sm:flex-row sm:p-0">
        <ul class="w-fit h-full flex gap-8 items-center">
            {
                headerLinks.map(({ name, href }) => (
                    <li>
                        <a href={`#${href}`} class="transition-color duration-300 p-0.5 rounded hover:text-primary-light focus-visible:text-primary-light">
                            {name}
                        </a>
                    </li>
                ))
            }
        </ul>

        <div class="hidden w-px h-1/3 bg-white opacity-50 rounded-lg sm:block"></div>

        <LenguagePicker />
    </nav>
</header>