---
import { Sections } from '@models/sections.model.ts';
---

<header class="w-full h-[75px]">
    <nav class="w-full h-full max-w-[500px] mx-auto flex justify-between items-center">
        <a href=`#${Sections.HOME}` target="_blank">Inicio</a>
        <a href=`#${Sections.ABOUT}` target="_blank">Sobre mi</a>
        <a href=`#${Sections.PROJECTS}` target="_blank">Proyectos</a>
        <a href=`#${Sections.CONTACT}` target="_blank">Contactos</a>
    </nav>
</header>