---
import { Sections } from '@models/sections.model.ts';
---

<header class="w-full h-[75px]">
    <nav class="size-full max-w-[500px] mx-auto">
        <ul class="size-full flex justify-between items-center">
            <li>
                <a 
                    class="transition-color duration-300 hover:text-primary-light"
                    href=`#${Sections.HOME}`
                >
                    Inicio
                </a>
            </li>
            <li>
                <a 
                    class="transition-color duration-300 hover:text-primary-light"
                    href=`#${Sections.ABOUT}`
                >
                    Sobre mi
                </a>
            </li>
            <li>
                <a 
                    class="transition-color duration-300 hover:text-primary-light"
                    href=`#${Sections.PROJECTS}`
                >
                    Proyectos
                </a>
            </li>
            <li>
                <a 
                    class="transition-color duration-300 hover:text-primary-light"
                    href=`#${Sections.CONTACT}`
                >
                    Contactos
                </a>
            </li>
        </ul>
    </nav>
</header>