---
import TechNav from "./TechNav.astro";
---

<article>
    <div class="text-[25px] flex items-center">
        <div class="text-primary">
            <svg 
                class="w-7 h-7" 
                aria-hidden="true" 
                xmlns="http://www.w3.org/2000/svg" 
                fill="none" 
                viewBox="0 0 20 16"
            >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
            </svg>
        </div>
        <h2 class="ml-3">Proyectos</h2>
    </div>
    <div class="my-8">
        <TechNav />
    </div>
    <div>
    </div>
</article>
