---
import JavaScriptIcon from "@icons/tech/JavaScript.icon.astro";
import TypeScriptIcon from "@icons/tech/TypeScript.icon.astro";
import GitIcon from '@icons/tech/Git.icon.astro';
import HtmlIcon from "@icons/tech/Html.icon.astro";
import CssIcon from "@icons/tech/Css.icon.astro";
import SassIcon from "@icons/tech/Sass.icon.astro";
import TailwindIcon from "@icons/tech/Tailwind.icon.astro";
import AstroIcon from "@icons/tech/Astro.icon.astro";
import ReactIcon from "@icons/tech/React.icon.astro";
import ReduxIcon from "@icons/tech/Redux.icon.astro";
import NodeJSIcon from "@icons/tech/NodeJS.icon.astro";
import ExpressIcon from "@icons/tech/Express.icon.astro";
import MongoDBIcon from "@icons/tech/MongoDB.icon.astro";
import NextjsIcon from "@icons/tech/Nextjs.icon.astro";
import { Technologies } from "@models/technologies";

const technologies = [
    {
        name: Technologies.JAVASCRIPT,
        class: "hover:border-javascript hover:text-javascript",
        icon: JavaScriptIcon,
    },
    {
        name: Technologies.TYPESCRIPT,
        class: "hover:border-typescript hover:text-typescript",
        icon: TypeScriptIcon,
    },
    {
        name: Technologies.GIT,
        class: "hover:border-git hover:text-git",
        icon: GitIcon,
    },
    {
        name: Technologies.HTML,
        class: "hover:border-html hover:text-html",
        icon: HtmlIcon,
    },
    {
        name: Technologies.CSS,
        class: "hover:border-css hover:text-css",
        icon: CssIcon,
    },
    {
        name: Technologies.SASS,
        class: "hover:border-sass hover:text-sass",
        icon: SassIcon,
    },
    {
        name: Technologies.TAILWIND,
        class: "hover:border-tailwindcss hover:text-tailwindcss",
        icon: TailwindIcon,
    },
    {
        name: Technologies.ASTRO,
        class: "hover:border-astro hover:text-astro",
        icon: AstroIcon,
    },
    {
        name: Technologies.REACT,
        class: "hover:border-react hover:text-react",
        icon: ReactIcon,
    },
    {
        name: Technologies.REDUX,
        class: "hover:border-redux hover:text-redux",
        icon: ReduxIcon,
    },
    {
        name: Technologies.NODE,
        class: "hover:border-node hover:text-node",
        icon: NodeJSIcon,
    },
    {
        name: Technologies.EXPRESS,
        class: "hover:border-express hover:text-express",
        icon: ExpressIcon,
    },
    {
        name: Technologies.MONGODB,
        class: "hover:border-mongodb hover:text-mongodb",
        icon: MongoDBIcon,
    },
    {
        name: Technologies.NEXTJS,
        class: "hover:border-nextjs hover:text-nextjs",
        icon: NextjsIcon,
    },
];
---

<nav class="flex justify-center items-center">
    <ul class="grid gap-5 grid-cols-[repeat(7,85px)] grid-rows-auto">
        {
            technologies.map((tech) => (
                <li class="inline w-fit h-fit">
                    <div class={`transition-all duration-300 cursor-pointer flex flex-col justify-center items-center size-[85px] select-none border border-white rounded-xl text-white ${tech.class}`}>
                        <div class="size-[25px]">
                            <tech.icon />
                        </div>
                        <span class="text-[12px] mt-1">{tech.name}</span>
                    </div>
                </li>
            ))
        }
    </ul>
</nav>
