---
import {
    BootstrapIcon,
    MaterialIcon,
    ReactQueryIcon,
    ReactRouterIcon,
    ChartJSIcon,
    AxiosIcon,
    MongooseIcon,
    NextIntlIcon,
    TremorIcon,
    DndKitIcon,
} from "@icons/tech/TechIcons";

const techs = [
    {
        href: "https://getbootstrap.com/",
        style: "bg-bootstrap",
        icon: BootstrapIcon,
    },
    {
        href: "https://mui.com/",
        style: "bg-materialui",
        icon: MaterialIcon,
    },
    {
        href: "https://tanstack.com/query/latest",
        style: "bg-reactquery",
        icon: ReactQueryIcon,
    },
    {
        href: "https://reactrouter.com/en/main",
        style: "bg-reactrouter",
        icon: ReactRouterIcon,
    },
    {
        href: "https://www.chartjs.org/docs/latest/",
        style: "bg-chartjs",
        icon: ChartJSIcon,
    },
    {
        href: "https://axios-http.com/",
        style: "bg-axios",
        icon: AxiosIcon,
    },
    {
        href: "https://mongoosejs.com/",
        style: "bg-mongoose",
        icon: MongooseIcon,
    },
    {
        href: "https://next-intl-docs.vercel.app/",
        style: "bg-nextintl",
        icon: NextIntlIcon,
    },
    {
        href: "https://www.tremor.so/",
        style: "bg-tremor",
        icon: TremorIcon,
    },
    {
        href: "https://dndkit.com/",
        style: "bg-dndkit",
        icon: DndKitIcon,
    },
];

const techsFirstHalf = [ ...techs.slice(0, 5), ...techs.slice(0, 5) ];
const techsSecondHalf = [ ...techs.slice(5, 10), ...techs.slice(5, 10) ];
---

<div class="flex flex-col justify-start gap-4 w-[250px] h-[100px] rotate-45 absolute -top-5 -right-20 overflow-hidden rounded-xl z-10">
    <div class="flex flex-col justify-center items-center gap-2 w-fit h-full whitespace-nowrap overflow-hidden absolute inset-0">
        <div class="flex justify-center items-center gap-2.5 w-fit animate-slide">
            {
                techsFirstHalf.map(({ href, style, icon: Icon }) => (
                    <a class="size-10 outline-none" href={href} target="_blank" tabindex="-1">
                        <div class="transition-all duration-300 cursor-pointer hover:scale-105">
                            <div class={`size-10 p-1 rounded ${style}`}>
                                <Icon />
                            </div>
                        </div>
                    </a>
                ))
            }
        </div>
        <div class="flex justify-center items-center gap-2.5 w-fit animate-[slide_21s_infinite_linear]">
            {
                techsSecondHalf.map(({ href, style, icon: Icon }) => (
                    <a class="size-10 outline-none" href={href} target="_blank" tabindex="-1">
                        <div class="transition-all duration-300 cursor-pointer hover:scale-105">
                            <div class={`size-10 p-1 rounded ${style}`}>
                                <Icon />
                            </div>
                        </div>
                    </a>
                ))
            }
        </div>
    </div>
</div>
