---
import "@fontsource-variable/onest";
import DocumentIcon from "/profile-photo.ico";
import Analytics from '@vercel/analytics/astro';

interface Props {
	title: string;
	lang: 'es' | 'en';
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Matías Gonta - Desarrollador y Programador Web especializado en tecnologías como React, JavaScript y más. Explora mi portfolio para conocer mis habilidades y proyectos." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/icon" href={DocumentIcon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- Background -->
		<div class="absolute top-0 z-[-2] w-screen h-screen bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(119,158,198,0.3),rgba(255,255,255,0))]"></div>
		<slot />
		<Analytics />
	</body>
</html>
<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		background-color: #13151a;
		scroll-behavior: smooth;
	}
	body {
		overflow-x: hidden;
		list-style: none;
	}
	* {
		outline: none;
	}
	*::selection {
		background-color: rgba(119,158,198,90);
		color: #fff;
	}
</style>
